<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="admin_home (template, menu)">

<head>
    <title>Admin Student View</title>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" />
</head>

<body>
 <div th:replace="fragments/layoutadmin :: topnav">
  </div>

    <h1>Student List</h1>
    <div class="d">
    <a href="/admin_student/new">Create New Student</a>
  	</div>
    <table class="a">
        <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${listStudents}">
            <td th:text="${student.id}">Lecturer ID</td>
            <td th:text="${student.firstName}">firstName</td>
            <td th:text="${student.lastName}">lastName</td>

            <td>
                <a th:href="@{'/admin_student/edit/' + ${student.id}}">Edit</a>

                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/admin_student/delete/' + ${student.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


</body>

</html>