<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="admin_home (template, menu)">

<head>
    <title>Admin Home</title>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" />
</head>

<body>
 <div th:replace="fragments/layoutadmin :: topnav">
  </div>


<h1>Welcome</h1>
<div class="e">
<img src="https://img.freepik.com/free-vector/system-administrators-sysadmins-are-servicing-server-racks-system-administration-upkeeping-configuration-computer-systems-networks-concept-pinkish-coral-blue-palette-vector-illustration_335657-1642.jpg?size=626&ext=jpg">
  </div>
  <div th:replace="fragments/layoutadmin :: footer">
  </div>
</body>

</html>