<!DOCTYPE html>
<html lang="en" xmlns: layout="http//www.ultraq.net.nz/thymeleaf/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome</title>
    <div th:fragment="topnav" class="topnav">
     <div class="container">
      <a href="#logout">Logout</a>
      <a href="#Manage-students">Manage Students</a>
      <a href="#Manage-lecturers">Manage Lecturers</a>
      <a href="#Manage-courses">Manage Courses</a>
      <a href="#viewcourse">View Course</a>
<!--      <a href="ViewCourses.html"-->
<!--         th:href="@{/viewcourses}" > View Courses </a>-->
      <a class= href="#home">Home</a>
     </div>
    </div>
</head>


<body>
<div layout:fragment="content">
<!--<p>changing content</p>-->
</div>

</body>
</html>