<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" 
          th:href="@{/css/style.css}" />
</head>

  <body>
    <div th:replace="lecturer_home :: topnav">
  </div>

<p>
 <h1>Courses Taught</h1>
    
  <table>
  <tr>
  <td>     
  <form>
  <label for="semesters"><strong>Semester</strong></label>
  <select name="semesters" id="semesters">
    <option value="A17/18 Semester 1">A17/18 Semester 1</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  
  <input type="submit" value="Submit">
  </form>
  </td> 
  
  <td>  
    <div class="search-container">
    <form action="course">
      <input type="text" placeholder="Search by course name/course ID" name="keyword">
      <button type="submit">Submit</button>
    </form>
    </div>
  </td>
  </tr>
  </table>
  
    
 
</p>


    <table id="ViewCourses" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">Course Id</th>
            <th style="width: 150px;">Course Name</th>           
            <th>Course Start Date</th>
            <th style="width: 120px">Capacity</th>
            <th>Credit Units</th>
        </tr>
        </thead>
        
        <tr th:each="course:${courses}">
   		<td th:text="${course.id}">id</td> 
   		<td th:text="${course.name}">name</td>
   		<td th:text="${course.startDate}">10 August 2021</td>
   		<td th:text="${course.capacity}">80</td> 
   		<td th:text="${course.credit}">4</td>
 		</tr>
    </table>

 

  </body>
</html>