<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>View student enrolment</title>
</head>
<body>
<div th:replace="lecturer_home :: topnav">
  </div>
<h1> Student Enrolment</h1>     

<table border="1" >
 <tr>
   <th>COURSE ID</th>
   <th>COURSE NAME</th>
   <th>STUDENT NAME</th>
   <th>STUDENT ID</th>
   <th>ENROLEMENT DATE</th>
 </tr>
 
 <tr th:each="enrolment:${enrolments}">
   <td th:text="${enrolment.course.id}">ID</td> 
   <td th:text="${enrolment.course.name}">ID</td>
   <td th:text="${enrolment.student.firstName} + ${enrolment.student.lastName}">ID</td>
   <td th:text="${enrolment.student.id}">ID</td>
   <td th:text="${enrolment.enrolmentDate}">ID</td>
   
   
 </tr>
</table>



</body>

</html>