<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Edit Grade</title>
</head>
<body>

<form action="#"
		th:action="@{/lecturer/save/}+${enrolment.id}"
		th:object="${enrolment}" method="get">
<table>
		
		<tr  th:each="e:${enrolment}" >
			<td>Student Name:</td> 
			<td th:text="${e.student.firstName} + ${e.student.lastName}"> </td>
		</tr>
		
		
		<tr  th:each="e:${enrolment}">
			<td>Student Id: </td>
			<td th:text ="${e.student.id}"> </td>
		</tr>
		
		
		<tr>
			Grade: <input type="text" th:field="*{grade}">
		</tr>

		</table>
		
		<input type="submit" value="Save"/>
			&nbsp; &nbsp; 	
		<input type="reset" value="Reset"/>
		
	</form>
	
<form action="#" th:object="${errMsg}" method="get" >
<table>
		<tr th:each="e:${errMsg}"> 
			<td th:text="${e}"></td>
		</tr>

</table>
</form>
	
<!--  
<script>
var msg = "<%= errMsg %>"
function myFunction(){
	
if (msg){
		
	alert("Grade should be within 0 to 100 :)");
}
else
	alert("Save successfully!!")
	
}
   
</script>
-->	


</body>
</html>