<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>View student enrolment</title>
</head>
<body>
<div th:replace="lecturer_home :: topnav">
  </div>
<h1> Grade List</h1>  

  <table>
  <tr>
  <td>  
    <div class="search-container">
    <form action="grade">
      <input type="text" placeholder="Search by course name/id" name="keyword1">
      <button type="submit">Submit</button>
    </form>
    </div>
  </td>
    
  <td>  
    <div class="search-container">
    <form action="grade">
      <input type="text" placeholder="Search by student name/matriculation id" name="keyword2">
      <button type="submit">Submit</button>
    </form>
    </div>
  </td>
  </tr>
  </table>    
		
<table>
<tr>
   <th>COURSE ID</th>
   <th>COURSE NAME</th>
   <th>STUDENT NAME</th>
   <th>STUDENT ID</th>
   <th>GRADE</th>
   <th>EDIT GRADE</th>
</tr>
 
 <tr th:each="e:${enrolment}">
   <td th:text="${e.course.id}">ID</td> 
   <td th:text="${e.course.name}">ID</td>
   <td th:text="${e.student.firstName} + ${e.student.lastName}">ID</td>
   <td th:text="${e.student.id}">ID</td>
   <td th:text="${e.grade}" >0.0</td>
   <td><button><a th:href="@{/lecturer/edit/}+${e.id}"
					 class="btn btn-default">Edit</a></button></td>
					 
</tr>
</table>

</body>
</html>