<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Layout</title>
</head>
<body>
	<div th:fragment="menu">
		<a th:href="@{/student/student_home}"> DashBoard</a>
		<a th:href="@{/student/gradeandgpa}"> Grades and GPA</a>
		<a th:href="@{/student/viewcourse}"> View Courses</a>
		<a th:href="@{/student/enrolcourse}"> Enroll for a Course</a>
		<a th:href="@{/student/viewenrolledcourse}"> View Enrolled Courses</a>
		<a th:href="@{/logout}"> Log Out</a>
	</div>
</body>
</html>