<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="lecturer_home (template, menu)">

<head>
  <title>View Courses</title>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet" type="text/css" media="all" 
          th:href="@{/css/style.css}" />
</head>

<body>
<div th:fragment="topnav" class="topnav">
    <div class="container" align="center">
	  <a href="/home">Home</a>
      <a href="/lecturer/course">View Course</a>
  	  <a href="/lecturer/enrolment">View Enrolment</a>
      <a href="/lecturer/grade">Input Grades</a>
  	  <a href="/lecturer/performance">Student Performance</a>
  	  <a href="/lecturer/logout">Log out</a>

	</div>
</div>

</body>

</html>